examples/dynamic_frontend.json
[{"id":"529ed752.4c14a8","type":"tab","label":"Belimo Frontend Example","disabled":false,"info":"Getting started\n\n1. When unknown nodes `npm install node-red-dashboard` and restart the node-red\n2. Open the `Belimo-Connector` and create a `oauth` configuration\n3. Select the oauth configuration in each belimo-node\n4. Deploy the flow\n5. Open `<ip-of-node-red>:1880/ui` to see the dashboard\n6. Enter a valid username and password\n7. Select a device or search one by serial-number\n8. Select a datapoint to display the actual data\n\n\n\nInformation\n1. In each ui-node, we have definied a topic according the description in the belimo-node help."},{"id":"934bf2f7.9147d","type":"ui_text_input","z":"529ed752.4c14a8","name":"","label":"Username","tooltip":"","group":"f9c6b6bd.08e0c8","order":1,"width":0,"height":0,"passthru":true,"mode":"email","delay":300,"topic":"username","x":450,"y":80,"wires":[["55ea3c97.a774e4"]]},{"id":"87396b5c.e3f0a8","type":"ui_text_input","z":"529ed752.4c14a8","name":"","label":"Password","tooltip":"","group":"f9c6b6bd.08e0c8","order":2,"width":0,"height":0,"passthru":false,"mode":"password","delay":"300","topic":"password","x":440,"y":120,"wires":[["55ea3c97.a774e4"]]},{"id":"77dd4ec7.e7dd9","type":"ui_button","z":"529ed752.4c14a8","name":"","group":"f9c6b6bd.08e0c8","order":3,"width":"3","height":"1","passthru":false,"label":"Login","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"login","x":90,"y":158,"wires":[["55ea3c97.a774e4"]]},{"id":"4799416f.b29ff","type":"ui_button","z":"529ed752.4c14a8","name":"","group":"f9c6b6bd.08e0c8","order":4,"width":"3","height":"1","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"logout","x":90,"y":118,"wires":[["55cc18cb.ba5288","55ea3c97.a774e4"]]},{"id":"55cc18cb.ba5288","type":"function","z":"529ed752.4c14a8","name":"Reset","func":"\nreturn { payload : ''};","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["934bf2f7.9147d","87396b5c.e3f0a8"]]},{"id":"7076e6c4.d6f5c8","type":"comment","z":"529ed752.4c14a8","name":"Login","info":"Login Form\n\nUse the inputs with label described\nin the Help-Readme of the node.","x":90,"y":60,"wires":[]},{"id":"6ee27a97.424a34","type":"ui_toast","z":"529ed752.4c14a8","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":160,"wires":[]},{"id":"55ea3c97.a774e4","type":"belimo-connector","z":"529ed752.4c14a8","name":"","oauth":"","x":750,"y":160,"wires":[["6ee27a97.424a34"]]},{"id":"ff374188.7efcf","type":"belimo-devices","z":"529ed752.4c14a8","name":"","oauth":"","device_id":"","x":140,"y":380,"wires":[["a8aba605.4470e8"]]},{"id":"a8aba605.4470e8","type":"ui_dropdown","z":"529ed752.4c14a8","name":"","label":"Device ID","tooltip":"","place":"Select option","group":"f9d35d3f.44e4e","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"deviceId","x":320,"y":380,"wires":[["316a36ce.bc8b0a"]]},{"id":"316a36ce.bc8b0a","type":"belimo-devices","z":"529ed752.4c14a8","name":"","oauth":"","device_id":"","x":520,"y":380,"wires":[["2649277f.ebad88","1319f3c7.93185c","9ab51d44.9ebc"]]},{"id":"2649277f.ebad88","type":"belimo-datapoint","z":"529ed752.4c14a8","name":"","oauth":"","reference":"","dataprofile_value":"","x":740,"y":440,"wires":[["d603b582.6b5b98"]]},{"id":"d603b582.6b5b98","type":"ui_dropdown","z":"529ed752.4c14a8","name":"","label":"Datapoint ID","tooltip":"","place":"Select option","group":"2ccfa25a.87c42e","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"datapointId","x":910,"y":440,"wires":[["1319f3c7.93185c"]]},{"id":"1319f3c7.93185c","type":"belimo-datapoint","z":"529ed752.4c14a8","name":"","oauth":"","reference":"","dataprofile_value":"","x":1300,"y":380,"wires":[["22da0e81.ec51d2"]]},{"id":"78579f7b.231fc","type":"ui_text","z":"529ed752.4c14a8","group":"9a2e0c9e.cb04e","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.displayname}}","format":"{{msg.payload.value}} ","layout":"row-spread","x":1580,"y":380,"wires":[]},{"id":"f0b44938.036c18","type":"belimo-finddevice","z":"529ed752.4c14a8","oauth":"","serial_number":"","x":530,"y":500,"wires":[["2649277f.ebad88","5b9805f0.63a48c"]]},{"id":"c81df082.34a71","type":"ui_text_input","z":"529ed752.4c14a8","name":"","label":"Search serial-number","tooltip":"","group":"f9d35d3f.44e4e","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"serialNumber","x":200,"y":500,"wires":[["f0b44938.036c18"]]},{"id":"9ab51d44.9ebc","type":"ui_text","z":"529ed752.4c14a8","group":"f9d35d3f.44e4e","order":2,"width":0,"height":0,"name":"","label":"Serial-Number","format":"{{msg.payload.serialNumber}}","layout":"row-spread","x":760,"y":340,"wires":[]},{"id":"36f2d0c9.7d362","type":"ui_text","z":"529ed752.4c14a8","group":"f9d35d3f.44e4e","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":500,"wires":[]},{"id":"5b9805f0.63a48c","type":"function","z":"529ed752.4c14a8","name":"Check search","func":"if(msg.topic === 'device'){\n    msg.payload = msg.payload.displayName\n    return msg\n}else if(msg.topic === 'error'){\n    return msg\n}else{\n    msg.payload = ''\n}\n\n","outputs":1,"noerr":0,"x":760,"y":500,"wires":[["36f2d0c9.7d362"]]},{"id":"7b3b482d.281c08","type":"comment","z":"529ed752.4c14a8","name":"Device and Datapoints","info":"","x":140,"y":300,"wires":[]},{"id":"1966e274.72190e","type":"ui_text_input","z":"529ed752.4c14a8","name":"","label":"Write","tooltip":"","group":"2ccfa25a.87c42e","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"write","x":1110,"y":500,"wires":[["1319f3c7.93185c"]]},{"id":"22da0e81.ec51d2","type":"switch","z":"529ed752.4c14a8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":380,"wires":[["78579f7b.231fc","65ceaf17.88bb7"]]},{"id":"cc6393ef.f262","type":"comment","z":"529ed752.4c14a8","name":"Use a switch to filter only data by topic","info":"","x":1530,"y":320,"wires":[]},{"id":"65ceaf17.88bb7","type":"belimo-historical","z":"529ed752.4c14a8","oauth":"","resolution":"15m","from_date":"","from_time":"","to_date":"","to_time":"","x":1320,"y":500,"wires":[["7f5497ae.74aa98"]]},{"id":"7f5497ae.74aa98","type":"ui_chart","z":"529ed752.4c14a8","name":"","group":"9a2e0c9e.cb04e","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590,"y":500,"wires":[[]]},{"id":"68955313.25f1ec","type":"comment","z":"529ed752.4c14a8","name":"When unknow nodes - npm i node-red-dashboard","info":"","x":840,"y":60,"wires":[]},{"id":"51f6c3c8.1f839c","type":"comment","z":"529ed752.4c14a8","name":"When errors while removing the flow, check 'Configuraion Nodes'  in the config-window on the right side and remove unused nodes","info":"","x":490,"y":620,"wires":[]},{"id":"f9c6b6bd.08e0c8","type":"ui_group","z":"","name":"Login","tab":"13341735.595ca9","order":1,"disp":true,"width":"8","collapse":false},{"id":"f9d35d3f.44e4e","type":"ui_group","z":"","name":"Devices","tab":"13341735.595ca9","order":2,"disp":true,"width":"8","collapse":false},{"id":"2ccfa25a.87c42e","type":"ui_group","z":"","name":"Datapoint","tab":"13341735.595ca9","order":3,"disp":true,"width":"6","collapse":false},{"id":"9a2e0c9e.cb04e","type":"ui_group","z":"","name":"Live data","tab":"13341735.595ca9","order":4,"disp":true,"width":"8","collapse":false},{"id":"13341735.595ca9","type":"ui_tab","z":"","name":"Belimo-Cloud","icon":"dashboard","disabled":false,"hidden":false}]