examples/dynamic_frontend.json
[{"id":"9f8a84bf.8934b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca8540f8.fee59","type":"ui_text_input","z":"9f8a84bf.8934b8","name":"","label":"Username","tooltip":"","group":"f9c6b6bd.08e0c8","order":1,"width":0,"height":0,"passthru":true,"mode":"email","delay":300,"topic":"username","x":450,"y":80,"wires":[["ca12eb0e.122278"]]},{"id":"6266a066.39222","type":"ui_text_input","z":"9f8a84bf.8934b8","name":"","label":"Password","tooltip":"","group":"f9c6b6bd.08e0c8","order":2,"width":0,"height":0,"passthru":false,"mode":"password","delay":"300","topic":"password","x":440,"y":120,"wires":[["ca12eb0e.122278"]]},{"id":"d0322cf1.d2fdd","type":"ui_button","z":"9f8a84bf.8934b8","name":"","group":"f9c6b6bd.08e0c8","order":3,"width":"3","height":"1","passthru":false,"label":"Login","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"login","x":90,"y":158,"wires":[["ca12eb0e.122278"]]},{"id":"c3742ee2.7e82a","type":"ui_button","z":"9f8a84bf.8934b8","name":"","group":"f9c6b6bd.08e0c8","order":4,"width":"3","height":"1","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"logout","x":90,"y":118,"wires":[["8ce80d3f.cf256","ca12eb0e.122278"]]},{"id":"8ce80d3f.cf256","type":"function","z":"9f8a84bf.8934b8","name":"Reset","func":"\nreturn { payload : ''};","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["ca8540f8.fee59","6266a066.39222"]]},{"id":"6b7bb44a.63e53c","type":"comment","z":"9f8a84bf.8934b8","name":"Login","info":"Login Form\n\nUse the inputs with label described\nin the Help-Readme of the node.","x":90,"y":60,"wires":[]},{"id":"27876381.01cadc","type":"ui_toast","z":"9f8a84bf.8934b8","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":160,"wires":[]},{"id":"ca12eb0e.122278","type":"belimo-connector","z":"9f8a84bf.8934b8","name":"","oauth":"401ef517.cabe1c","x":750,"y":160,"wires":[["27876381.01cadc"]]},{"id":"1d42cde2.912452","type":"belimo-devices","z":"9f8a84bf.8934b8","name":"","oauth":"401ef517.cabe1c","device_id":"","x":140,"y":380,"wires":[["5b816d1a.46bf44"]]},{"id":"5b816d1a.46bf44","type":"ui_dropdown","z":"9f8a84bf.8934b8","name":"","label":"Device ID","tooltip":"","place":"Select option","group":"f9d35d3f.44e4e","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"deviceId","x":320,"y":380,"wires":[["523b5e2a.9f7fe"]]},{"id":"523b5e2a.9f7fe","type":"belimo-devices","z":"9f8a84bf.8934b8","name":"","oauth":"401ef517.cabe1c","device_id":"","x":520,"y":380,"wires":[["d1215fb1.65af3","d9653b44.f938d8","46eb7ee9.407e3"]]},{"id":"d1215fb1.65af3","type":"belimo-datapoint","z":"9f8a84bf.8934b8","name":"","oauth":"401ef517.cabe1c","reference":"","dataprofile_value":"","x":740,"y":440,"wires":[["aa2d1652.c47fc8"]]},{"id":"aa2d1652.c47fc8","type":"ui_dropdown","z":"9f8a84bf.8934b8","name":"","label":"Datapoint ID","tooltip":"","place":"Select option","group":"2ccfa25a.87c42e","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"datapointId","x":910,"y":440,"wires":[["d9653b44.f938d8"]]},{"id":"d9653b44.f938d8","type":"belimo-datapoint","z":"9f8a84bf.8934b8","name":"","oauth":"401ef517.cabe1c","reference":"","dataprofile_value":"","x":1300,"y":380,"wires":[["94c09cef.eca5d"]]},{"id":"a4e84baf.9bd608","type":"ui_text","z":"9f8a84bf.8934b8","group":"9a2e0c9e.cb04e","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.displayname}}","format":"{{msg.payload.value}} ","layout":"row-spread","x":1580,"y":380,"wires":[]},{"id":"54d2d653.6a5dc8","type":"belimo-finddevice","z":"9f8a84bf.8934b8","oauth":"401ef517.cabe1c","serial_number":"","x":530,"y":500,"wires":[["d1215fb1.65af3","106c53ed.10e5cc"]]},{"id":"667a052d.1b47ac","type":"ui_text_input","z":"9f8a84bf.8934b8","name":"","label":"Search serial-number","tooltip":"","group":"f9d35d3f.44e4e","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"serialNumber","x":200,"y":500,"wires":[["54d2d653.6a5dc8"]]},{"id":"46eb7ee9.407e3","type":"ui_text","z":"9f8a84bf.8934b8","group":"f9d35d3f.44e4e","order":2,"width":0,"height":0,"name":"","label":"Serial-Number","format":"{{msg.payload.serialNumber}}","layout":"row-spread","x":760,"y":340,"wires":[]},{"id":"a097f700.6ca138","type":"ui_text","z":"9f8a84bf.8934b8","group":"f9d35d3f.44e4e","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":500,"wires":[]},{"id":"106c53ed.10e5cc","type":"function","z":"9f8a84bf.8934b8","name":"Check search","func":"if(msg.topic === 'device'){\n    msg.payload = msg.payload.displayName\n    return msg\n}else if(msg.topic === 'error'){\n    return msg\n}else{\n    msg.payload = ''\n}\n\n","outputs":1,"noerr":0,"x":760,"y":500,"wires":[["a097f700.6ca138"]]},{"id":"ba006616.3d3498","type":"comment","z":"9f8a84bf.8934b8","name":"Device and Datapoints","info":"","x":140,"y":300,"wires":[]},{"id":"5e2727e9.3866e8","type":"ui_text_input","z":"9f8a84bf.8934b8","name":"","label":"Write","tooltip":"","group":"2ccfa25a.87c42e","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"write","x":1110,"y":500,"wires":[["d9653b44.f938d8"]]},{"id":"94c09cef.eca5d","type":"switch","z":"9f8a84bf.8934b8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":380,"wires":[["a4e84baf.9bd608","79d6fe25.bd7ea"]]},{"id":"ff8dfd84.8aa79","type":"comment","z":"9f8a84bf.8934b8","name":"Use a switch to filter only data by topic","info":"","x":1530,"y":320,"wires":[]},{"id":"79d6fe25.bd7ea","type":"belimo-historical","z":"9f8a84bf.8934b8","oauth":"401ef517.cabe1c","resolution":"15m","from_date":"","from_time":"","to_date":"","to_time":"","x":1320,"y":500,"wires":[["6e128bd1.2583f4"]]},{"id":"6e128bd1.2583f4","type":"ui_chart","z":"9f8a84bf.8934b8","name":"","group":"9a2e0c9e.cb04e","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590,"y":500,"wires":[[]]},{"id":"f9c6b6bd.08e0c8","type":"ui_group","z":"","name":"Login","tab":"13341735.595ca9","order":1,"disp":true,"width":"8","collapse":false},{"id":"401ef517.cabe1c","type":"belimo-oauth","z":"","name":""},{"id":"f9d35d3f.44e4e","type":"ui_group","z":"","name":"Devices","tab":"13341735.595ca9","order":2,"disp":true,"width":"8","collapse":false},{"id":"2ccfa25a.87c42e","type":"ui_group","z":"","name":"Datapoint","tab":"13341735.595ca9","order":3,"disp":true,"width":"6","collapse":false},{"id":"9a2e0c9e.cb04e","type":"ui_group","z":"","name":"Live data","tab":"13341735.595ca9","order":4,"disp":true,"width":"8","collapse":false},{"id":"13341735.595ca9","type":"ui_tab","z":"","name":"Belimo-Cloud","icon":"dashboard","disabled":false,"hidden":false}]