examples/simple.json
[{"id":"25d40e41.ce4ac2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc525d23.08d2f","type":"comment","z":"25d40e41.ce4ac2","name":"Device and Datapoints","info":"","x":120,"y":220,"wires":[]},{"id":"e1908d2f.c6156","type":"switch","z":"25d40e41.ce4ac2","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":320,"wires":[["a0475d8.67038a"]]},{"id":"fcdbfc58.cf1a3","type":"comment","z":"25d40e41.ce4ac2","name":"Use a switch to filter only data by topic","info":"","x":830,"y":220,"wires":[]},{"id":"313ff1fa.63d2be","type":"comment","z":"25d40e41.ce4ac2","name":"Enter a valid user","info":"","x":110,"y":60,"wires":[]},{"id":"b901b0ea.12b5b","type":"debug","z":"25d40e41.ce4ac2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":120,"wires":[]},{"id":"40562991.900338","type":"debug","z":"25d40e41.ce4ac2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":380,"wires":[]},{"id":"5d25a749.875f68","type":"debug","z":"25d40e41.ce4ac2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":320,"wires":[]},{"id":"48c07ee2.ded92","type":"belimo-connector","z":"25d40e41.ce4ac2","name":"","oauth":"","x":130,"y":120,"wires":[["b901b0ea.12b5b"]]},{"id":"52aa7674.4e8f68","type":"belimo-devices","z":"25d40e41.ce4ac2","name":"","oauth":"","device_id":"","x":140,"y":320,"wires":[["b316f753.46cec8"]]},{"id":"b316f753.46cec8","type":"belimo-datapoint","z":"25d40e41.ce4ac2","name":"","oauth":"","reference":"","dataprofile_value":"","x":400,"y":320,"wires":[["e1908d2f.c6156","40562991.900338"]]},{"id":"a0475d8.67038a","type":"belimo-historical","z":"25d40e41.ce4ac2","oauth":"","resolution":"15m","from_date":"","from_time":"","to_date":"","to_time":"","x":920,"y":320,"wires":[["5d25a749.875f68"]]}]